<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<div class="container">

<% if (news) { %>
  <div class="row">
    <div class="col">
      <h1><%= news.title %></h1>
      <h5>분류: <%= news.category_title %> / 기자: <%= news.author %></h5>
      <p>
        입력: <%= moment(news.inserted).format('YYYY-MM-DD h:mm:ss a') %>
        <% if (news.updated) { %>/ 수정: <%= moment(news.updated).format('YYYY-MM-DD h:mm:ss a') %><% } %>
      </p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col" style="white-space: pre-line;">
      <%- news.desc %>
    </div>
    <div class="col">
      <% if (typeof news.upload !== 'undefined' && news.upload) { %>
        <img src="/uploads/<%= news.upload %>">
      <% } %>
    </div>
  </div>

  <div class="row">
      <div class="col">
        <hr>
      </div>
  </div>

  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group" role="group" aria-label="First group">
      <a href="/news/<%= news.id %>/edit" class="btn btn-outline-primary">수정</a>
      <a href="/news/<%= news.id %>/delete" class="btn btn-outline-secondary">삭제</a>
    </div>
    <div class="input-group">
      <a href="/news/" class="btn btn-outline-info">목록</a>
    </div>
  </div>
<% } else { %>
  <p>Not exist</p>
<% } %>

</div>
<%- include('includes/footer'); -%>
